body,form,input,th,td,div {margin-top:0;margin-bottom:0;padding-bottom:0;padding-top:0}
select{margin:0}
p {margin:0 0 1em 0;padding:0}

body {
	font:0.9em/110% Arial,Helvetica,sans-serif;
	background:#fff;
	color:#000;
	margin-left:3px;
	margin-right:3px;
}

h1 {
	font: italic 600 1.5em/110% Arial,Helvetica,sans-serif;
	text-align: left;
	line-height: 110%;
	color: #606080;
	border-top: solid #a0a0d0 3px;
	border-bottom: dotted #8080b0 1px;
	background: #f0f0f0;
}

h2 {
	font: 600 1.2em Arial,Helvetica,sans-serif; 
	color: #606060;
}
h2 a {text-decoration:none;border-bottom:1px #606060 dotted}
h2 a:hover {text-decoration:none;border-bottom:1px black solid}

h3 {
	font: 600 1.1em Arial,Helvetica,sans-serif;
	color: #000080;
} 
h4,h5,h6 {font: 1em Arial,Helvetica,sans-serif}
ul {list-style:disc}
ul.toplevel {margin-left:8px}
table {font-size: 1em;border-spacing:1px}

a {color:#00b;text-decoration:none;z-index:9}
a.hideshow,a.showhide {cursor:pointer}
a:hover {color:#000;text-decoration:underline}

th {background:#404090}
th,th a {color:#fff}

th a:hover {
	color:#bbf;
	text-decoration:none
}

select {font-size:1em}
select.filter{max-width:20em; border: 1px solid #999; border-radius:0; background:white}
select.fieldlist{max-width:12em}
.value_entry{min-width:12em}
.allele_entry{min-width:10em}
.int_entry{width:5em}
input {font-size: 1em;z-index:9}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
 	vertical-align: baseline;
}
 
sup {top: -0.5em}
sub {bottom: -0.25em}

a.no_link {color:black}
a.no_link:hover {text-decoration:none;color:black}

#tooltip,a.update_tooltip {
	background:#fafad2;
	color:black;
	opacity:0.9
}

a.sequence_tooltip {
	background:#d2fad2;
	color:black	
}

a.sequence_tooltip_incomplete {
	background:#fad200;
	color:black	
}

a.update_tooltip,a.existing_tooltip,a.clashing_tooltip {
	cursor:help;
	text-decoration:none;
	padding: 0 0.2em
}

a.sequence_tooltip,a.sequence_tooltip_incomplete,a.extract_tooltip,a.info_tooltip,a.cds,a.seqflag_tooltip {
	cursor:pointer;
	text-decoration:none;	
}

a#toggle_tooltips,a.tooltip {
	cursor:pointer;
	text-decoration:none;
	color:#66f;
}

a.update_tooltip,a.sequence_tooltip,a.sequence_tooltip_incomplete {
	border:1px solid #c0c0c0;
	font-size:0.8em
}

a.existing_tooltip {
	background:#d2fad2;
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em	
}

a.extract_tooltip {
	background:#d2fafa;
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em	
}

a.info_tooltip {
	color:#d2fafa;
}

span.seqflag {
	background:#fad2d2;
	color:black;
	border:1px solid #c0c0c0;	
}

a.seqflag_tooltip {
	background:#fad2d2;
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em		
}

a.clashing_tooltip {
	background:#fad2d2;
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em	
}

a.cds {
	background:#d2fad2;
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em	
}

a.action,span.action{padding:0.2em;border:1px solid transparent;text-shadow: 1px 1px 1px #999}
a.action:hover,span.action:hover{border:1px solid red;background:#ccc}

a.delete {
	color:black;
	border:1px solid #c0c0c0;	
	text-decoration:none;
	background:#e0d5d5;
}

a.delete:hover {background:#f0d0d0}

a.update {
	color:black;
	border:1px solid #c0c0c0;	
	font-size:0.8em;
	text-decoration:none;
	background:#d5e0d5;
}

a.update:hover {background:#d0f5d0}

.provisional {	
	border:1px solid #c0c0c0;
	background:#e0b5b5;
	color:black
}

.ignore {color:#aaa; border: 1px solid #aaa}

.seq {font-family:Courier New,monospace}
.flanking {color:#aaa}
.coding {background:#ccf}
.startcodon {background:#cfc}
.stopcodon {background:#fcc}
.code {font-family:Courier New,monospace}
.highlight {color:#f00}
.non-default {color:#00f}
.comment {font-size: 0.9em}
.warning {background:#fcc}
.incomplete {background:#fb6}

.button,.smallbutton, .fieldvaluebutton {
	background:#f0f0f0;
	color:#333;
	border:1px solid #999;
	box-shadow: 1px 1px 1px #999;
	border-radius:3px;
}

.button:hover,.smallbutton:hover,.fieldvaluebutton:hover {
	background:#fff;
	color:black;
	text-decoration:none;
	border:1px solid #666;
	box-shadow: 1px 1px 1px #666;
}

.button {padding:0.1em 0.5em;margin:5px}
.smallbutton {font-size:0.9em}
.legendbutton {margin:-17px 5px 10px 0;float:right}

input.pagebar {
	font:84% arial,helvetica,sans-serif;
	background:#efefff;
	margin:1px;
	border:1px solid;
	border-top-color:#696;
	border-left-color:#696;
	border-right-color:#363;
	border-bottom-color:#363;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #aaa; 
}

.pagebar_selected {
	font:84% arial,helvetica,sans-serif;
	border: 1px solid black; 
	padding: 0 5px;
	border-radius: 3px;
}

input.plugin_button {
	border:1px solid #ada; 
	color:black; 
	background:#eee; 
	border-radius: 3px; 
	box-shadow: 1px 1px 1px #aaa; 
	margin-right:0.2em
}

input.plugin_button:hover {border:1px solid #696; box-shadow: 1px 1px 1px #696;}

input.submit {
	background:#eee;
	margin:2px;
	padding: 0 5px 0 5px;
	color:#333;
	border:1px solid;
	border-top-color:#696;
	border-left-color:#696;
	border-right-color:#363;
	border-bottom-color:#363;
	border-radius: 3px;
}

input.submit:hover {
	background:#fff;
	color:black;
	border-top-color:#9b9;
	border-left-color:#9b9;
	border-right-color:#696;
	border-bottom-color:#696
}

a.resetbutton, input.resetbutton { border:1px solid #bbe; color:#333; background:#eee; box-shadow: 1px 1px 1px #aaa;}
a.resetbutton:hover, input.resetbutton:hover {border:1px solid #669; box-shadow: 1px 1px 1px #669; }
a.smallbutton {padding: 0 0.5em}
button.smallbutton {padding: 0.2em 0.5em}

input.submitbutton {border:1px solid #ada; color:#333; background:#eee; box-shadow: 1px 1px 1px #aaa;}
input.submitbutton:hover {border:1px solid #696; box-shadow: 1px 1px 1px #696;}
input.updatebutton {border:1px solid #aad; color:#333; background:#eee}
input.updatebutton:hover {border:1px solid #669}

a.resetbutton:hover, input.resetbutton:hover, input.submitbutton:hover {background: #fff;color: #212121}
input.pagebar:hover {border:1px solid #f00; background:#fff}

.td1 {background:#efefff; vertical-align:top}
.td2 {background:#efefef; vertical-align:top}
table.tablesorter {text-align:center}
table.tablesorter tr.even td {background:#efefff;text-align:center}
table.tablesorter tr.odd td {background:#efefef;text-align:center}
table.tablesorter th.header { 
	background-image: url(/javascript/tablesorter/bg.gif);
	background-repeat: no-repeat; 
	padding:0px;
	margin:0px;
    padding-right: 20px;
    background-position: center right; 
    cursor: pointer; 
 } 
table.tablesorter th.headerSortUp { 
    background-image: url(/javascript/tablesorter/asc.gif); 
    background-color: #0000FF; 
}
table.tablesorter th.headerSortDown { 
    background-image: url(/javascript/tablesorter/desc.gif); 
    background-color: #0000FF; 
} 

div.content {
	background:#fcfcf9;
	position:relative;
	width:auto;
	min-width:120px;
	margin:5px 0 1px 0;
	border:1px solid #999;
	padding:10px 5px
}

div.reset { background:#d5d5e0;}

div.menu {
	background:#efefff;
	position:relative;
	width:auto;
	min-width:120px;
	margin:5px 0 0 0;
	border:1px solid #999;
	padding:2px;
	font-size:0.8em;
}

div.menu,div.content {border-radius: 10px}
div.menu a {white-space:nowrap}
div.menu a:hover {background:#9090c0;color:white;text-decoration:none}
div.menu a.logo:hover {background:transparent}

div.panel {
	position: absolute;
	top: 7em;
	right: 0;
	display: none;
	padding: 1em 3em 1em 1em;
	border:1px solid #999;
	border-right:0;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: #d5d5e0;
	box-shadow: 3px 3px 3px #aaa;
	z-index:9
}

div.panel li {padding-bottom: 0.5em}

a#panel_trigger{
	position: absolute;
	text-decoration: none;
	top: 7em; right: 0;
	color:#fff;
	background: #448;
	padding: 0.5em;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	display: block;
	box-shadow: 3px 3px 3px #aaa;
}

a#close_trigger {
 	color:black;
 	font-weight:600;
 	text-decoration:none;
}

.statusgood {color:green}
.statusbad {color:red}
td.partialmatch {color:#ff8c00}
td.header {background:#404090;color:white}
td.private_record {background:#ebb}
tr.total {background:green;color:white}
tr.warning {background:#e0a0a0;color:black}

span.link {padding:0 0.5em;font-size:0.8em; background:green; color:white;}
span.source {padding:0 0.5em;font-size:0.8em; background:green; color:white;}
span.metaset {padding:0 0.5em;font-size:0.8em; background:blue; color:white;}
span.highlightvalue {background:#ffffa0; border-bottom:1px solid #e0e000; color: #400000}

.A,.G,.T,.C {font-weight:600}
.A {color:green}
.G {color:black}
.T {color:red}
.C {color:blue}

div.seqmap {font-family:Courier New, monospace}

.pc10,.pc20,.pc30,.pc40,.pc50,.pc60,.pc70,.pc80,.pc90,.pc100 {font-weight:bold}
a.pc10:hover,a.pc20:hover,a.pc30:hover,a.pc40:hover,a.pc50:hover,a.pc60:hover,a.pc70:hover,a.pc80:hover,a.pc90:hover,a.pc100:hover {
	color:red;
	text-decoration:none
}
.pc10 {background-color:#ff99ff;color:navy}
.pc20 {background-color:#cc66ff;color:white}
.pc30 {background-color:#9900cc;color:white}
.pc40 {background-color:#0066cc;color:white}
.pc50 {background-color:#3399ff;color:white}
.pc60 {background-color:#33ffff;color:navy}
.pc70 {background-color:#66cc00;color:white}
.pc80 {background-color:#339900;color:white}
.pc90 {background-color:#006600;color:white}
.pc100 {background-color:#000000;color:white}

div.box {
	padding:10px;
	font-size:0.8em;
	margin-bottom: 0.5em;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #dfdfdf;
}

div.queryform, div#queryform {background:#e0e0e0;z-index:0}
div#queryform li,p,dd {position:relative;z-index:3}
div#queryform table {border-collapse:collapse;border-spacing:0}
div#queryform table.queryform {border-collapse:separate;border-spacing:1px}
div#queryform table.queryform td {padding:0}
div#chart {background:#e0e0e0}
div#sequence {background:#efefff}
div#index {background:#d5e0d5}
div#submissions {background:#d5d5e0}
div#account_requests {background:#e0e0d5}
div#sets {background:#e0e0d5}
div#schemes {background:#e0e0d5}
div#projects,div#jobs {background:#f0f0e5}
div#index img,#plugins img,#sets img, #restricted img {float:left;margin-right:10px;width:32px}
div#restricted {background:#e0d5d5}
div#statuswarn, div.statuswarn {background:#e0e0d5;color:#404000}
div#statusbad, div.statusbad {background:#e0d5d5;color:#800000}
div.statusbad_no_resize {background:#e0d5d5;color:#800000}
div.statusgood_no_resize {background:#d5e0d5;color:#008000}
div#warning {background:#e0a0a0;color:#000000}
div#resultsheader {background:#d5e0d5;padding:5px}
div#resultsfooter {background:#d5e0d5;padding:5px}
div#resultstable, div.resultstable {background:#e0e0e0}
div#resultspanel, div.resultspanel {background:#f0f0f0}
div#resultspanel li,p,dd {position:relative;z-index:3}
div#samples table {border-spacing:1px}
div#samples {background:#f0e0e0}
div#alleles {background:#e0e0f0}
div#alleles table {border-spacing:1px}
div.scrollable {overflow-x:auto}
div#resultstable p.comment {font-size:0.95em}
div#abstract {background:#d5d5e0}
div#banner {background:#d5d5d5;padding:10px 10px 1px 10px;color:#006}
div#plugins {background:#d5d5e0}
div#message {background:#e0d5d5}
div#curatetools { background: #e5e5f0}

div#menubutton {
	float:right;
	font-size:1.2em;
	position:absolute;
	top:4px;
	right:5px;
	z-index:3;		
}

div#menubutton a  {
	border:1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 1px transparent;
	padding:0 0.1em;
	color:black
}
div#menubutton a:hover {
	border:1px solid #ccc;
	box-shadow: 1px 1px 1px #dfdfdf;
}
div#menupanel {
	background:#f0f0f0;
	color:black;
	float:right;
	position:absolute;
	top:23px;
	right:0px;
	padding:1em;
	z-index:10;		
	border-radius:10px;
	border:1px solid #ccc;
	box-shadow:3px 3px 3px #dfdfdf;
	display:none;
}
div#menupanel ul.menu {margin-left:12px}

div#pluginoptions, div#curatetools {
	background:#ddd;
	float:right;
	position:absolute;
	top:4.5em;
	right:5px;
	z-index:9;
	padding:10px;
	font-size:0.8em;
	margin-bottom: 0.5em;
	border: 1px solid #999;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #dfdfdf;
}

div#pluginoptions ul {list-style-type:none; margin-left:-2em}

div#logindetails {
	background:#ecece9;
	padding: 0 0.5em;
	float:left;
	font-size:0.7em;
	position:absolute;
	top:3px;
	left:5px;
	z-index:4;
}

div#fieldvalueshelp {
	background:#ecece9;
	padding: 0 0.5em;
	float:right;
	font-size:0.7em;
	position:absolute;
	top:3px;
	right:27px;
	z-index:3;	
}

div.floatmenu {
	float:right;
	position:absolute;
	top:2.5em;
	right:10px;
	font-size:0.8em;
	border:1px solid #d0d0d0;	
	background:#c0c0c0;
	color:white;
	z-index:3;
}

div.floatmenu a {
	text-decoration:none;
	color:white;
	cursor:pointer;	
}

div.flags {line-height:2em;margin-bottom:0.5em}
div.flags a {text-decoration:none}

table.resultstable {text-align:center;padding:0.1em}
table.resultstable td,th {padding:0 0.2em}
table.profile {background:#e0e0e0;text-align:center}

span.field { color: blue }
span.text { color: black }
span.locus { color: green }
span.scheme { color: red}
span.aliases {font-size: 0.9em}
span.context_help a {background:#66f; color:white; margin-right:2em; padding: 0 0.5em; text-decoration:none}
span.flag {
	font-size:1.2em;
	font-weight:600;
	white-space:nowrap;
	border-width:3px;
	border-top-style:solid;
	border-bottom-style:solid;
	padding:0 0.1em
}
.flash_message {color:purple}

.hiddenbydefault {display:none}
pre.sixpack {font-size:1.3em}

fieldset {
	display:inline;
	vertical-align:top;
	border:0;
	border-top:1px solid #aaa;
}

div#accordion ul {padding:0 0 0 0.5em;list-style:none}

fieldset ul {margin:0;padding:0 0 0 0.5em;list-style:none}  
fieldset li {padding-bottom:0.2em}

fieldset label.filter {    
	float:left;    
	width:12em;    
	margin-right:0.5em;    
	text-align:right;  
}

fieldset label.form { 
	float:left;    
	width:12em;    
	margin-right:0.5em;    
	text-align:right;  
}

fieldset label.parameter {    
	float:left;    
	width:10em;    
	margin-right:0.5em;    
	text-align:right;  
}

fieldset.display {padding-top:2em;background:transparent}

fieldset label.display {    
	float:left;    
	width:6em;    
	margin-right:0.5em;    
	text-align:right;  
}

legend {margin-left:1em;color:navy}  

div.tree {
	width:80%;
	height:300px; 
	margin:0; 
	border:1px solid gray; 
	background:white; 
	overflow:auto;
}

div.scheme_tree {
	min-width:15em;
	max-width:95%;
	min-height:3em;
	max-height:15em; 
	border:1px solid #aaa; 
	overflow:auto;
	margin-right:1em;
	background:white; 
}

 .data dt { 
 	float: left; 
 	clear: left; 
 	width: 10em; 
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	text-align: right; 
 	font-weight: bold; 
 	color: #404080; 
 } 
 .data dt:after {content:":"} 
 .data dd {margin: 0 0 0 11em;padding: 0 0 0.3em 0}
 
 dl.profile {
	margin:0;
	display:inline-block;
	border:1px solid #ccc;
	text-align:center;
}
	
.profile dt {
	margin:0;
	padding:0 0.5em;
	height:1.2em;
	background-color:#a3a3cc;
	color:black;
	font-weight:bold;
}
	
.profile dd {
	min-height:1.5em;
	padding: 0 0.2em;
	margin:0;
	background:white;
}


 .projects dt {
	background-color: #666;
	color: white;
	padding: 0.1em;
	font-weight: bold;
	text-align: center;
	border-radius:30px
}
	
.projects dd {
	margin: 0 0 1em 0;
	text-align: left;
	padding: 0.5em;
}

h3.scheme {
	clear:both;
	margin-bottom:0.2em;
	text-align:center;
	background: #404080;
	color:white;
	border-radius:30px;
	padding: 0 0.2em;
}
h3.scheme a {color:white}

h3.group {
	clear:both;
	margin-bottom:-0.8em;
	text-align:center;
	background:#BFFFBF;
	color:black;
	border-radius:30px;
	padding: 0 0.2em;	
}

h3.group0 {color:white;background:#002000}
h3.group1 {color:white;background:#004000}
h3.group2 {color:white;background:#206000}
h3.group3 {color:white;background:#408040}
h3.group4 {color:white;background:#60A060}
h3.group5 {background:#80C080}
h3.group6 {background:#A0E0A0}

span.main_icon {color:#66a;text-shadow: 3px 3px 3px #999}
span.nav_icon {color:#66a;text-shadow: 2px 2px 2px #aaa}
span.nav_icon:hover {color:#88c}
span.job_icon {color:#a66;text-shadow: 3px 3px 3px #999}
span.plugin_icon {color:#a6a;text-shadow: 3px 3px 3px #999}
span.dataset_icon {color:#6a6;text-shadow: 3px 3px 3px #999}
span.config_icon {color:#a66;text-shadow: 3px 3px 3px #999}
span.warning_icon {color:#a66;text-shadow: 3px 3px 3px #999}
span.wait_message {color:#66a;font-size:3em}
span.browse {color:#080}
span.file_icon {color:#44d}
button.main {color:#66a}
button.main:hover {color:#88c}
button.plugin {color:#a6a}
button.plugin:hover {color:#c8c}

.filetype-text {font-size:0.7em;font-weight:700;font-family:'Oswald'}

.form_icon {display:inline;position:absolute;right:0;margin: 0.5em 1em}
.form_icon_main {color:#bbb;background:transparent;z-index:1}
.form_icon_plus {color:#7a7;top:-0.5em;text-shadow:0px 0px 10px #fff;z-index:2}
.form_icon_edit {color:#77a;top:-0.5em;text-shadow:0px 0px 10px #fff;z-index:2}
.form_icon_trash {color:#a77;top:-0.5em;text-shadow:0px 0px 10px #fff;z-index:2}
@media (max-width: 600px){
	.form_icon {display:none}
}

@media (max-width: 800px) {
	div#scheme_loci_add {float:left}
	div#alleles {float:left; width:95%}
	div#samples {float:left; width:95%}
	div#isolate_update {width:95%}
}

.coolfieldset, .coolfieldset.expanded{min-width:15em}
.coolfieldset.collapsed{}
.coolfieldset legend{padding-left:13px;cursor:pointer}

.coolfieldset legend, .coolfieldset.expanded legend{
	background: transparent url(/javascript/coolfieldset/expanded.gif) no-repeat center left;
}

.coolfieldset.collapsed legend{
	background: transparent url(/javascript/coolfieldset/collapsed.gif) no-repeat center left;
}

.widetable.collapsed { display: inline }
.widetable.expanded { display: block }

/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(/javascript/slimbox/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(/javascript/slimbox/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(/javascript/slimbox/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(/javascript/slimbox/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {margin-right: 71px}
#lbCaption {font-weight: bold}

.ui-multiselect { text-align:left; margin:0 }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:0px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px;  }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; position:absolute; z-index:10000; text-align: left; white-space:nowrap }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:0 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.ui-multiselect.ui-state-default {background:white; border: 1px solid #999; border-radius:0 }


